parameters:
    lifo_typeahead.typeahead_type.class:     Lifo\TypeaheadBundle\Form\Type\TypeaheadType
    lifo_typeahead.twig_extension.class:     Lifo\TypeaheadBundle\Twig\Extension\TypeaheadTwigExtension

services:
    # provide twig functions
    lifo_typeahead.twig_extension:
        class: %lifo_typeahead.twig_extension.class%
        tags: [{ name: twig.extension }]
        
    # main typeahead autocomplete form field
    lifo_typeahead.typeahead_type:
        class: %lifo_typeahead.typeahead_type.class%
        arguments: [@service_container, @doctrine.orm.entity_manager, @router]
        tags: [{ name: form.type, alias: entity_typeahead }]

    # experimental extension ...
    #lifo_typeahead.form.form_extension:
    #    class: Lifo\TypeaheadBundle\Form\Extension\FormExtension
    #    arguments: []
    #    tags: [{ name: form.type_extension, alias: form }]
        